/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS ALL DEVICES */
@media (min-width:1025px) {
  *#dm .dmInner div.u_1934197772 { height:135px !important; }

  *#dm .dmInner *.u_1677671313 .accordion-item:not(:last-child) { margin-bottom:24px !important; }

  *#dm .dmInner *.u_1677671313 .accordion-wrapper {
    padding-left:0 !important;
    padding-right:0 !important;
  }

  *#dm .dmInner *.u_1677671313 .accordion-title .arrow {
    width:30px !important;
    height:30px !important;
  }

  *#dm .dmInner *.u_1677671313 .arrow-wrapper { padding:5px !important; }

  *#dm .dmInner div.u_1677671313 .accordion-title { font-size:22px !important; }

  *#dm .dmInner div.u_1677671313 .title-text { font-size:22px !important; }

  *#dm .dmInner div.u_1677671313 .title-text * { font-size:22px !important; }

  *#dm .dmInner div.u_1786332852 {
    important:true !important;
    width:100% !important;
    height:100px !important;
  }

  *#dm .dmInner div.u_1677671313 .accordion-description .section-inner { font-size:18px !important; }
}
@media all {
  *#dm .dmInner div.u_1554273894 img[dm_changed] {
    border-radius:5% !important;
    -moz-border-radius:5% !important;
    -webkit-border-radius:5% !important;
    border-bottom-left-radius:50% !important;
  }

  *#dm .dmInner div.u_1554273894 img {
    border-radius:5% !important;
    -moz-border-radius:5% !important;
    -webkit-border-radius:5% !important;
    border-bottom-left-radius:50% !important;
  }

  *#dm .dmInner div.u_1278431465 img[dm_changed] {
    border-radius:5% !important;
    -moz-border-radius:5% !important;
    -webkit-border-radius:5% !important;
    border-top-right-radius:50% !important;
    border-bottom-left-radius:5% !important;
  }

  *#dm .dmInner div.u_1278431465 img {
    border-radius:5% !important;
    -moz-border-radius:5% !important;
    -webkit-border-radius:5% !important;
    border-top-right-radius:50% !important;
    border-bottom-left-radius:5% !important;
  }

  *#dm .dmInner div.u_1762031584 img[dm_changed] {
    border-radius:5% !important;
    -moz-border-radius:5% !important;
    -webkit-border-radius:5% !important;
    object-position:50% 50% !important;
    object-fit:cover !important;
    border-bottom-left-radius:5% !important;
    border-bottom-right-radius:50% !important;
  }

  *#dm .dmInner div.u_1762031584 img {
    border-radius:5% !important;
    -moz-border-radius:5% !important;
    -webkit-border-radius:5% !important;
    object-position:50% 50% !important;
    object-fit:cover !important;
    border-bottom-left-radius:5% !important;
    border-bottom-right-radius:50% !important;
  }

  *#dm .dmInner div.u_1704218965 .svg {
    color:rgba(255,167,95,1) !important;
    fill:rgba(255,167,95,1) !important;
  }

  *#dm .dmInner div.u_1712631583 img[dm_changed] {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1712631583 img {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1064280262 hr {
    color:rgba(255,255,255,0.6) !important;
    border-top-style:solid !important;
    border-top-width:1px !important;
  }

  *#dm .dmInner div.u_1665960748 img[dm_changed] {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1665960748 img {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1822335157 hr {
    color:rgba(255,255,255,0.6) !important;
    border-top-style:solid !important;
    border-top-width:1px !important;
  }

  *#dm .dmInner div.u_1161511101 img[dm_changed] {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1161511101 img {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1981378194 hr {
    color:rgba(255,255,255,0.6) !important;
    border-top-style:solid !important;
    border-top-width:1px !important;
  }

  *#dm .dmInner div.u_1424407620 img[dm_changed] {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1424407620 img {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1472023892 hr {
    color:rgba(255,255,255,0.6) !important;
    border-top-style:solid !important;
    border-top-width:1px !important;
  }

  *#dm .dmInner div.u_1275985058 img[dm_changed] {
    object-position:0 50% !important;
    object-fit:cover !important;
  }

  *#dm .dmInner div.u_1275985058 img {
    object-position:0 50% !important;
    object-fit:cover !important;
  }

  *#dm .dmInner div.u_1573881126 hr {
    color:rgba(255,255,255,0.6) !important;
    border-top-style:solid !important;
    border-top-width:1px !important;
  }

  *#dm .dmInner div.u_1807885608 img[dm_changed] {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1807885608 img {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1911971567 hr {
    color:rgba(255,255,255,0.6) !important;
    border-top-style:solid !important;
    border-top-width:1px !important;
  }

  *#dm .dmInner div.u_1860836047 img[dm_changed] {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1860836047 img {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1647207237 hr {
    color:rgba(255,255,255,0.6) !important;
    border-top-style:solid !important;
    border-top-width:1px !important;
  }

  *#dm .dmInner div.u_1673329303 img[dm_changed] {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1673329303 img {
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1907128742 {
    background-image:initial !important;
    border-style:solid !important;
    border-width:0 !important;
    background-color:rgba(0,0,0,0) !important;
  }

  *#dm .dmInner *.u_1677671313 .accordion-title .arrow .close {
    fill:var(--color_1) !important;
    background-color:var(--color_1) !important;
  }

  *#dm .dmInner *.u_1677671313 .accordion-title .horizontal {
    fill:var(--color_1) !important;
    background-color:var(--color_1) !important;
  }

  *#dm .dmInner *.u_1677671313 .accordion-title .vertical {
    fill:var(--color_1) !important;
    background-color:var(--color_1) !important;
  }

  *#dm .dmInner div.u_1677671313 .arrow-wrapper {
    background-color:var(--color_2) !important;
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
  }

  *#dm .dmInner div.u_1677671313 .accordion-wrapper {
    border-radius:15px !important;
    -moz-border-radius:15px !important;
    -webkit-border-radius:15px !important;
    border-style:solid !important;
    border-width:0 !important;
  }

  *#dm .dmInner *.u_1677671313 .accordion-title {
    justify-content:flex-start !important;
    text-align:left !important;
  }

  *#dm .dmInner *.u_1677671313 .title-text {
    justify-content:flex-start !important;
    text-align:left !important;
  }

  *#dm .dmInner *.u_1677671313 .title-text * {
    justify-content:flex-start !important;
    text-align:left !important;
  }

  *#dm .dmInner div.u_1645982656 img[dm_changed] {
    object-position:0 50% !important;
    object-fit:cover !important;
  }

  *#dm .dmInner div.u_1645982656 img {
    object-position:0 50% !important;
    object-fit:cover !important;
  }

  *#dm .dmInner div.u_1374822786 img[dm_changed] {
    object-position:100% 50% !important;
    object-fit:cover !important;
  }

  *#dm .dmInner div.u_1374822786 img {
    object-position:100% 50% !important;
    object-fit:cover !important;
  }

  *#dm .dmInner *.u_1278431465 { width:100% !important; }

  *#dm .dmInner *.u_1762031584 { width:100% !important; }

  *#dm .dmInner *.u_1554273894 { width:100% !important; }

  *#dm .dmInner *.u_1374822786 { width:100% !important; }

  *#dm .dmInner *.u_1645982656 { width:100% !important; }

  *#dm .dmInner *.u_1275985058 { width:100% !important; }

  *#dm .dmInner *.u_1712631583 { width:100% !important; }

  *#dm .dmInner *.u_1807885608 { width:100% !important; }

  *#dm .dmInner *.u_1860836047 { width:100% !important; }

  *#dm .dmInner *.u_1673329303 { width:100% !important; }

  *#dm .dmInner *.u_1665960748 { width:100% !important; }

  *#dm .dmInner *.u_1161511101 { width:100% !important; }

  *#dm .dmInner *.u_1424407620 { width:100% !important; }

  *#dm .dmInner a.u_1088848844 {
    background-repeat:no-repeat !important;
    background-image:url(https://irp.cdn-website.com/md/dmtmpl/da630672-c073-430e-86e6-23331dd16dc4/dms3rep/multi/apple+store+button.svg) !important;
    background-size:cover !important;
    border-radius:10px !important;
    -moz-border-radius:10px !important;
    -webkit-border-radius:10px !important;
    border-style:solid !important;
    border-width:0 !important;
    background-color:rgba(0,0,0,0) !important;
  }

  *#dm .dmInner a.u_1793377046 {
    background-repeat:no-repeat !important;
    background-image:url(https://irp.cdn-website.com/md/dmtmpl/da630672-c073-430e-86e6-23331dd16dc4/dms3rep/multi/google+app+button.svg) !important;
    background-size:cover !important;
    border-radius:10px !important;
    -moz-border-radius:10px !important;
    -webkit-border-radius:10px !important;
    border-style:solid !important;
    border-width:0 !important;
    background-color:rgba(0,0,0,0) !important;
  }

  *#dm .dmInner a.u_1462689520 {
    background-repeat:no-repeat !important;
    background-image:url(https://irp.cdn-website.com/md/dmtmpl/da630672-c073-430e-86e6-23331dd16dc4/dms3rep/multi/apple+store+button.svg) !important;
    background-size:cover !important;
    border-radius:10px !important;
    -moz-border-radius:10px !important;
    -webkit-border-radius:10px !important;
    border-style:solid !important;
    border-width:0 !important;
    background-color:rgba(0,0,0,0) !important;
  }

  *#dm .dmInner a.u_1293056727 {
    background-repeat:no-repeat !important;
    background-image:url(https://irp.cdn-website.com/md/dmtmpl/da630672-c073-430e-86e6-23331dd16dc4/dms3rep/multi/google+app+button.svg) !important;
    background-size:cover !important;
    border-radius:10px !important;
    -moz-border-radius:10px !important;
    -webkit-border-radius:10px !important;
    border-style:solid !important;
    border-width:0 !important;
    background-color:rgba(0,0,0,0) !important;
  }

  *#dm .dmInner nav.u_1998592992 { color:black !important; }

  *#dm .dmInner div.u_1677671313 .accordion-title {
    background-color:rgba(230,223,241,1) !important;
    color:var(--color_7) !important;
    font-weight:600 !important;
    border-bottom-width:0 !important;
    border-bottom-style:solid !important;
  }

  *#dm .dmInner div.u_1677671313 .title-text {
    color:var(--color_7) !important;
    font-weight:600 !important;
  }

  *#dm .dmInner div.u_1677671313 .title-text * {
    color:var(--color_7) !important;
    font-weight:600 !important;
  }

  *#dm .dmInner div.u_1677671313 .accordion-description .section-inner {
    font-weight:400 !important;
    border-bottom-width:0 !important;
    border-bottom-style:solid !important;
    color:var(--color_7) !important;
  }

  *#dm .dmInner div.u_1704218965 { box-shadow:rgba(0,0,0,0.25) 3px 0px 11px 0px !important; }
}
@media (min-width:768px) and (max-width:1024px) {
  *#dm .dmInner *.u_1677671313 .accordion-wrapper {
    padding-left:0 !important;
    padding-right:0 !important;
  }

  *#dm .dmInner *.u_1677671313 .accordion-item:not(:last-child) { margin-bottom:16px !important; }

  *#dm .dmInner *.u_1677671313 .arrow-wrapper { padding:8px !important; }

  *#dm .dmInner *.u_1677671313 .accordion-title .arrow {
    width:20px !important;
    height:20px !important;
  }

  *#dm .dmInner div.u_1677671313 .accordion-description .section-inner { font-size:16px !important; }

  *#dm .dmInner div.u_1677671313 .accordion-title { font-size:18px !important; }

  *#dm .dmInner div.u_1677671313 .title-text { font-size:18px !important; }

  *#dm .dmInner div.u_1677671313 .title-text * { font-size:18px !important; }

  *#dm .dmInner div.u_1786332852 { height:88px !important; }

  *#dm .dmInner div.u_1934197772 { height:150px !important; }
}
@media (min-width:0) and (max-width:767px) {
  *#dm .dmInner div.u_1934197772 {
    height:164px !important;
    width:100% !important;
    important:true !important;
  }

  *#dm .dmInner a.u_1088848844 {
    background-repeat:no-repeat !important;
    background-size:contain !important;
    background-position:50% 50% !important;
  }

  *#dm .dmInner *.u_1677671313 .accordion-wrapper {
    padding-left:0 !important;
    padding-right:0 !important;
  }

  *#dm .dmInner div.u_1677671313 .accordion-description .section-inner { font-size:15px !important; }

  *#dm .dmInner *.u_1677671313 .accordion-item:not(:last-child) { margin-bottom:12px !important; }

  *#dm .dmInner *.u_1677671313 .accordion-title .arrow {
    width:24px !important;
    height:24px !important;
  }

  *#dm .dmInner *.u_1677671313 .arrow-wrapper { padding:4px !important; }

  *#dm .dmInner div.u_1677671313 .accordion-title { font-size:16px !important; }

  *#dm .dmInner div.u_1677671313 .title-text { font-size:16px !important; }

  *#dm .dmInner div.u_1677671313 .title-text * { font-size:16px !important; }

  *#dm .dmInner a.u_1793377046 {
    background-repeat:no-repeat !important;
    background-size:contain !important;
    background-position:50% 50% !important;
  }

  *#dm .dmInner div.u_1786332852 {
    important:true !important;
    width:100% !important;
    height:70px !important;
  }

  *#dm .dmInner div.u_1934197772 { height:134px !important; }

  *#dm .dmInner a.u_1462689520 {
    background-repeat:no-repeat !important;
    background-size:contain !important;
    background-position:50% 50% !important;
  }

  *#dm .dmInner a.u_1293056727 {
    background-repeat:no-repeat !important;
    background-size:contain !important;
    background-position:50% 50% !important;
  }
}
