/* GLOBAL THEME CSS - YOUR DESIGN CHANGES WILL BE DISPLAYED HERE */
/* ==================================================================== */
/*                     System Style Definitions                         */
/* ==================================================================== */
@media all {
  *#dm div.dmContent h1,
  *#dm div.dmFooter h1 { color:rgb(102,102,102); }

  *#dm div.dmRespCol>* { line-height:normal; }

  *.dmDesktopBody *#dm ul.dmNavWrapper>li>a *.navText,
  *.dmDesktopBody *#dm ul.dmNavWrapper>li>a *.navItemText,
  *.dmDesktopBody *#dm ul.dmNavWrapper>li>*.dmNavigation {
    color:rgb(17,17,17);
    font-weight:normal;
  }

  *.dmDesktopBody *#dm ul.dmNavWrapper>li>a:hover,
  *.dmDesktopBody *#dm ul.dmNavWrapper>li>a.currentPage { border-color:rgb(17,17,17); }

  *.dmDesktopBody *#dm ul.dmNavWrapper>li.navItemSelectedServer>a *.navText,
  *.dmDesktopBody *#dm ul.dmNavWrapper>li.dmNavItemSelected>a *.navItemText,
  *.dmDesktopBody *#dm ul.dmNavWrapper>li.dmNavItemSelected>*.navItemText { font-weight:bold; }

  *.stickyHeaderSpacer { height:112px; }

  #dm div.dmInner,
  #dm div.dmInner .dmRespCol,
  #dm .dmRespCol div.dmNewParagraph,
  #dm .ecwid .ec-store,
  #dm .dmform .dmforminput label,
  .dmPrettyList .listText,
  .dmPrettyList .itemName,
  #dm .dmRestaurantMenu .menuItemBox,
  .dmRestaurantMenu .menuItemName,
  .dmRestaurantMenu .menuItemDesc,
  .dmRestaurantMenu .menuItemPrice,
  .dmPhotoGallery .caption-text.caption-text,
  .dmGeoLocation a span.dmGeoMLocItemTitle,
  .dmGeoLocation a span.dmGeoMLocItemDetails,
  .map-popup-description {
    font-family:'Helvetica';
    color:var(--color_1);
    font-weight:500;
  }

  *#dm div.dmContent h1,
  *#dm div.dmFooter h1,
  *#dm div.p_hfcontainer h1,
  *#dm div.flex_hfcontainer h1,
  *#dm div.dm-title h1 {
    color:rgba(11,11,11,1);
    direction:ltr;
    font-family:Helvetica;
    font-weight:600;
    font-style:normal;
    text-decoration:none;
  }

  *#dm div.dmContent .dmNewParagraph[data-version] h1,
  *#dm div.dmFooter .dmNewParagraph[data-version] h1,
  *#dm div.p_hfcontainer .dmNewParagraph[data-version] h1,
  *#dm div.flex_hfcontainer .dmNewParagraph[data-version] h1,
  *#dm div.dm-title .dmNewParagraph[data-version] h1 { text-decoration:inherit; }

  *#dm div.dmContent .dmNewParagraph[data-version] h1 *,
  *#dm div.dmFooter .dmNewParagraph[data-version] h1 *,
  *#dm div.p_hfcontainer .dmNewParagraph[data-version] h1 *,
  *#dm div.flex_hfcontainer .dmNewParagraph[data-version] h1 *,
  *#dm div.dm-title .dmNewParagraph[data-version] h1 * { text-decoration:none; }

  #dm div.dmNewParagraph p,
  #dm div.dmNewParagraph li {
    color:rgb(20,20,20);
    direction:ltr;
    font-family:"Helvetica";
    font-weight:500;
    font-style:normal;
    text-decoration:none;
    line-height:1.5;
  }

  *#dm div.dmNewParagraph a,
  *#dm .dmNewParagraph a,
  *#dm div.dmBlockElement a,
  *#dm .dmBlockElement a,
  *#dm .dmform a.fileUploadLink,
  .dmPrettyList .link:not(.dmWidget),
  *#dm .dmGeoLocation a.dmGeoSVSeeAll,
  *#dm .dmGeoLocation a.dmGeoSVGoToPage,
  *#dm .postDescription a,
  *#dm .blog-post-component a,
  *#dm .timeline-post a,
  *#dm .rteBlock a,
  .newPhotoGallery .photoGalleryViewAll.link,
  .dmTable a,
  *#dm .ecwid .ec-link:not(.breadcrumbs__link),
  .dmSignup a:not(.social-link) { color:var(--color_4); }

  *#dm div.dmContent h2,
  *#dm div.dmFooter h2,
  *#dm div.p_hfcontainer h2,
  *#dm div.flex_hfcontainer h2,
  *#dm div.dm-title h2 {
    color:rgba(11,11,11,1);
    direction:ltr;
    font-family:Helvetica;
    font-weight:600;
    font-style:normal;
    text-decoration:none;
    letter-spacing:-0.03em;
  }

  *#dm div.dmContent .dmNewParagraph[data-version] h2,
  *#dm div.dmFooter .dmNewParagraph[data-version] h2,
  *#dm div.p_hfcontainer .dmNewParagraph[data-version] h2,
  *#dm div.flex_hfcontainer .dmNewParagraph[data-version] h2,
  *#dm div.dm-title .dmNewParagraph[data-version] h2 { text-decoration:inherit; }

  *#dm div.dmContent .dmNewParagraph[data-version] h2 *,
  *#dm div.dmFooter .dmNewParagraph[data-version] h2 *,
  *#dm div.p_hfcontainer .dmNewParagraph[data-version] h2 *,
  *#dm div.flex_hfcontainer .dmNewParagraph[data-version] h2 *,
  *#dm div.dm-title .dmNewParagraph[data-version] h2 * { text-decoration:none; }

  *#dm div.dmContent h3,
  *#dm div.dmFooter h3,
  *#dm div.p_hfcontainer h3,
  *#dm div.flex_hfcontainer h3,
  *#dm div.dm-title h3 {
    color:rgb(20,20,20);
    direction:ltr;
    font-family:"Helvetica";
    font-weight:700;
    font-style:normal;
    text-decoration:none;
  }

  *#dm div.dmContent .dmNewParagraph[data-version] h3,
  *#dm div.dmFooter .dmNewParagraph[data-version] h3,
  *#dm div.p_hfcontainer .dmNewParagraph[data-version] h3,
  *#dm div.flex_hfcontainer .dmNewParagraph[data-version] h3,
  *#dm div.dm-title .dmNewParagraph[data-version] h3 { text-decoration:inherit; }

  *#dm div.dmContent .dmNewParagraph[data-version] h3 *,
  *#dm div.dmFooter .dmNewParagraph[data-version] h3 *,
  *#dm div.p_hfcontainer .dmNewParagraph[data-version] h3 *,
  *#dm div.flex_hfcontainer .dmNewParagraph[data-version] h3 *,
  *#dm div.dm-title .dmNewParagraph[data-version] h3 * { text-decoration:none; }

  *#dm div.dmContent h4,
  *#dm div.dmFooter h4,
  *#dm div.p_hfcontainer h4,
  *#dm div.flex_hfcontainer h4,
  *#dm div.dm-title h4 {
    color:rgb(20,20,20);
    direction:ltr;
    font-family:"Helvetica";
    font-weight:600;
    font-style:normal;
    text-decoration:none;
  }

  *#dm div.dmContent .dmNewParagraph[data-version] h4,
  *#dm div.dmFooter .dmNewParagraph[data-version] h4,
  *#dm div.p_hfcontainer .dmNewParagraph[data-version] h4,
  *#dm div.flex_hfcontainer .dmNewParagraph[data-version] h4,
  *#dm div.dm-title .dmNewParagraph[data-version] h4 { text-decoration:inherit; }

  *#dm div.dmContent .dmNewParagraph[data-version] h4 *,
  *#dm div.dmFooter .dmNewParagraph[data-version] h4 *,
  *#dm div.p_hfcontainer .dmNewParagraph[data-version] h4 *,
  *#dm div.flex_hfcontainer .dmNewParagraph[data-version] h4 *,
  *#dm div.dm-title .dmNewParagraph[data-version] h4 * { text-decoration:none; }

  *#dm div.dmContent h5,
  *#dm div.dmFooter h5,
  *#dm div.p_hfcontainer h5,
  *#dm div.flex_hfcontainer h5,
  *#dm div.dm-title h5 {
    color:rgb(20,20,20);
    direction:ltr;
    font-family:"Helvetica";
    font-weight:600;
    font-style:normal;
    text-decoration:none;
  }

  *#dm div.dmContent .dmNewParagraph[data-version] h5,
  *#dm div.dmFooter .dmNewParagraph[data-version] h5,
  *#dm div.p_hfcontainer .dmNewParagraph[data-version] h5,
  *#dm div.flex_hfcontainer .dmNewParagraph[data-version] h5,
  *#dm div.dm-title .dmNewParagraph[data-version] h5 { text-decoration:inherit; }

  *#dm div.dmContent .dmNewParagraph[data-version] h5 *,
  *#dm div.dmFooter .dmNewParagraph[data-version] h5 *,
  *#dm div.p_hfcontainer .dmNewParagraph[data-version] h5 *,
  *#dm div.flex_hfcontainer .dmNewParagraph[data-version] h5 *,
  *#dm div.dm-title .dmNewParagraph[data-version] h5 * { text-decoration:none; }

  *#dm div.dmContent h6,
  *#dm div.dmFooter h6,
  *#dm div.p_hfcontainer h6,
  *#dm div.flex_hfcontainer h6,
  *#dm div.dm-title h6 {
    color:var(--color_1);
    direction:ltr;
    font-family:Epilogue;
    font-weight:400;
    font-style:normal;
    text-decoration:none;
  }

  *#dm div.dmContent .dmNewParagraph[data-version] h6,
  *#dm div.dmFooter .dmNewParagraph[data-version] h6,
  *#dm div.p_hfcontainer .dmNewParagraph[data-version] h6,
  *#dm div.flex_hfcontainer .dmNewParagraph[data-version] h6,
  *#dm div.dm-title .dmNewParagraph[data-version] h6 { text-decoration:inherit; }

  *#dm div.dmContent .dmNewParagraph[data-version] h6 *,
  *#dm div.dmFooter .dmNewParagraph[data-version] h6 *,
  *#dm div.p_hfcontainer .dmNewParagraph[data-version] h6 *,
  *#dm div.flex_hfcontainer .dmNewParagraph[data-version] h6 *,
  *#dm div.dm-title .dmNewParagraph[data-version] h6 * { text-decoration:none; }

  *#dm div.dmNewParagraph a,
  *#dm .dmNewParagraph a,
  *#dm div.dmBlockElement a,
  *#dm .dmBlockElement a,
  *#dm .dmform a.fileUploadLink,
  .dmPrettyList .link:not(.dmWidget),
  *#dm .dmGeoLocation a.dmGeoSVSeeAll,
  *#dm .dmGeoLocation a.dmGeoSVGoToPage,
  *#dm .postDescription a,
  *#dm .blog-post-component a,
  *#dm .timeline-post a,
  *#dm .rteBlock a,
  .newPhotoGallery .photoGalleryViewAll.link,
  .dmTable a,
  *#dm .ecwid .ec-link:not(.breadcrumbs__link),
  .dmSignup a:not(.social-link),
  .prev-next-links a { color:var(--color_1); }

  *#dm div.dmNewParagraph a.visited,
  *#dm div.dmNewParagraph a:visited,
  *#dm .dmNewParagraph a.visited,
  *#dm .dmNewParagraph a:visited,
  *#dm div.dmBlockElement a.visited,
  *#dm div.dmBlockElement a:visited,
  *#dm .dmBlockElement a.visited,
  *#dm .dmBlockElement a:visited,
  *#dm .dmform a.fileUploadLink.visited,
  *#dm .dmform a.fileUploadLink:visited,
  .dmPrettyList .link:not(.dmWidget).visited,
  .dmPrettyList .link:not(.dmWidget):visited,
  *#dm .dmGeoLocation a.dmGeoSVSeeAll.visited,
  *#dm .dmGeoLocation a.dmGeoSVSeeAll:visited,
  *#dm .dmGeoLocation a.dmGeoSVGoToPage.visited,
  *#dm .dmGeoLocation a.dmGeoSVGoToPage:visited,
  *#dm .postDescription a.visited,
  *#dm .postDescription a:visited,
  *#dm .blog-post-component a.visited,
  *#dm .blog-post-component a:visited,
  *#dm .timeline-post a.visited,
  *#dm .timeline-post a:visited,
  *#dm .rteBlock a.visited,
  *#dm .rteBlock a:visited,
  .newPhotoGallery .photoGalleryViewAll.link.visited,
  .newPhotoGallery .photoGalleryViewAll.link:visited,
  .dmTable a.visited,
  .dmTable a:visited,
  *#dm .ecwid .ec-link:not(.breadcrumbs__link).visited,
  *#dm .ecwid .ec-link:not(.breadcrumbs__link):visited,
  .dmSignup a:not(.social-link).visited,
  .dmSignup a:not(.social-link):visited,
  .prev-next-links a.visited,
  .prev-next-links a:visited {
    color:var(--color_2);
    text-decoration:none;
  }

  *#dm div.dmNewParagraph a.hover,
  *#dm div.dmNewParagraph a:hover,
  *#dm .dmNewParagraph a.hover,
  *#dm .dmNewParagraph a:hover,
  *#dm div.dmBlockElement a.hover,
  *#dm div.dmBlockElement a:hover,
  *#dm .dmBlockElement a.hover,
  *#dm .dmBlockElement a:hover,
  *#dm .dmform a.fileUploadLink.hover,
  *#dm .dmform a.fileUploadLink:hover,
  .dmPrettyList .link:not(.dmWidget).hover,
  .dmPrettyList .link:not(.dmWidget):hover,
  *#dm .dmGeoLocation a.dmGeoSVSeeAll.hover,
  *#dm .dmGeoLocation a.dmGeoSVSeeAll:hover,
  *#dm .dmGeoLocation a.dmGeoSVGoToPage.hover,
  *#dm .dmGeoLocation a.dmGeoSVGoToPage:hover,
  *#dm .postDescription a.hover,
  *#dm .postDescription a:hover,
  *#dm .blog-post-component a.hover,
  *#dm .blog-post-component a:hover,
  *#dm .timeline-post a.hover,
  *#dm .timeline-post a:hover,
  *#dm .rteBlock a.hover,
  *#dm .rteBlock a:hover,
  .newPhotoGallery .photoGalleryViewAll.link.hover,
  .newPhotoGallery .photoGalleryViewAll.link:hover,
  .dmTable a.hover,
  .dmTable a:hover,
  *#dm .ecwid .ec-link:not(.breadcrumbs__link).hover,
  *#dm .ecwid .ec-link:not(.breadcrumbs__link):hover,
  .dmSignup a:not(.social-link).hover,
  .dmSignup a:not(.social-link):hover,
  .prev-next-links a.hover,
  .prev-next-links a:hover {
    color:var(--color_1);
    text-decoration:underline solid rgb(255,192,70);
  }
}
@media (min-width:1025px) {
  *#dm div.dmContent h3,
  *#dm div.dmFooter h3,
  *#dm div.flex_hfcontainer h3,
  *#dm div.dm-title h3 { font-size:18px; }

  #dm div.dmNewParagraph p { font-size:18px; }

  *#dm div.dmContent h6,
  *#dm div.dmFooter h6,
  *#dm div.flex_hfcontainer h6,
  *#dm div.dm-title h6 { font-size:16px; }

  #dm DIV.dmOuter DIV.dmInner,
  #dm DIV.dmOuter DIV#dmSlideRightNavRight { background-image:none; }

  #dm div.dmInner,
  #dm div.dmInner .dmRespCol,
  #dm .dmRespCol div.dmNewParagraph,
  #dm .ecwid .ec-store,
  #dm .dmform .dmforminput label,
  .dmPrettyList .listText,
  .dmPrettyList .itemName,
  #dm .dmRestaurantMenu .menuItemBox,
  .dmRestaurantMenu .menuItemName,
  .dmRestaurantMenu .menuItemDesc,
  .dmRestaurantMenu .menuItemPrice,
  .dmPhotoGallery .caption-text.caption-text,
  .dmGeoLocation a span.dmGeoMLocItemTitle,
  .dmGeoLocation a span.dmGeoMLocItemDetails,
  .map-popup-description { font-size:16px; }

  #dm div.dmNewParagraph p,
  #dm div.dmNewParagraph li { font-size:20px; }

  *#dm div.dmContent h1,
  *#dm div.dmFooter h1,
  *#dm div.p_hfcontainer h1,
  *#dm div.flex_hfcontainer h1,
  *#dm div.dm-title h1 { font-size:64px; }

  *#dm div.dmContent h2,
  *#dm div.dmFooter h2,
  *#dm div.p_hfcontainer h2,
  *#dm div.flex_hfcontainer h2,
  *#dm div.dm-title h2 { font-size:54px; }

  *#dm div.dmContent h3,
  *#dm div.dmFooter h3,
  *#dm div.p_hfcontainer h3,
  *#dm div.flex_hfcontainer h3,
  *#dm div.dm-title h3 { font-size:32px; }

  *#dm div.dmContent h4,
  *#dm div.dmFooter h4,
  *#dm div.p_hfcontainer h4,
  *#dm div.flex_hfcontainer h4,
  *#dm div.dm-title h4 { font-size:22px; }

  *#dm div.dmContent h5,
  *#dm div.dmFooter h5,
  *#dm div.p_hfcontainer h5,
  *#dm div.flex_hfcontainer h5,
  *#dm div.dm-title h5 { font-size:20px; }

  *#dm div.dmContent h6,
  *#dm div.dmFooter h6,
  *#dm div.p_hfcontainer h6,
  *#dm div.flex_hfcontainer h6,
  *#dm div.dm-title h6 {
    font-size:18px;
    line-height:1.5;
  }
}
@media (min-width:768px) and (max-width:1024px) {
  *#dm div.dmContent h3,
  *#dm div.dmFooter h3,
  *#dm div.flex_hfcontainer h3,
  *#dm div.dm-title h3 { font-size:18px; }

  #dm div.dmNewParagraph p { font-size:18px; }

  *#dm div.dmContent h6,
  *#dm div.dmFooter h6,
  *#dm div.flex_hfcontainer h6,
  *#dm div.dm-title h6 { font-size:16px; }

  *#dm div.dmContent h6,
  *#dm div.dmFooter h6,
  *#dm div.p_hfcontainer h6,
  *#dm div.flex_hfcontainer h6,
  *#dm div.dm-title h6 {
    font-size:15px;
    line-height:1.5;
  }

  #dm div.dmInner,
  #dm div.dmInner .dmRespCol,
  #dm .dmRespCol div.dmNewParagraph,
  #dm .ecwid .ec-store,
  #dm .dmform .dmforminput label,
  .dmPrettyList .listText,
  .dmPrettyList .itemName,
  #dm .dmRestaurantMenu .menuItemBox,
  .dmRestaurantMenu .menuItemName,
  .dmRestaurantMenu .menuItemDesc,
  .dmRestaurantMenu .menuItemPrice,
  .dmPhotoGallery .caption-text.caption-text,
  .dmGeoLocation a span.dmGeoMLocItemTitle,
  .dmGeoLocation a span.dmGeoMLocItemDetails,
  .map-popup-description { font-size:16px; }

  #dm div.dmNewParagraph p,
  #dm div.dmNewParagraph li { font-size:18px; }

  *#dm div.dmContent h1,
  *#dm div.dmFooter h1,
  *#dm div.p_hfcontainer h1,
  *#dm div.flex_hfcontainer h1,
  *#dm div.dm-title h1 { font-size:50px; }

  *#dm div.dmContent h2,
  *#dm div.dmFooter h2,
  *#dm div.p_hfcontainer h2,
  *#dm div.flex_hfcontainer h2,
  *#dm div.dm-title h2 { font-size:36px; }

  *#dm div.dmContent h3,
  *#dm div.dmFooter h3,
  *#dm div.p_hfcontainer h3,
  *#dm div.flex_hfcontainer h3,
  *#dm div.dm-title h3 { font-size:28px; }

  *#dm div.dmContent h4,
  *#dm div.dmFooter h4,
  *#dm div.p_hfcontainer h4,
  *#dm div.flex_hfcontainer h4,
  *#dm div.dm-title h4 { font-size:22px; }

  *#dm div.dmContent h5,
  *#dm div.dmFooter h5,
  *#dm div.p_hfcontainer h5,
  *#dm div.flex_hfcontainer h5,
  *#dm div.dm-title h5 { font-size:20px; }
}
@media (min-width:0px) and (max-width:767px) {
  *#dm div.dmContent h6,
  *#dm div.dmFooter h6,
  *#dm div.flex_hfcontainer h6,
  *#dm div.dm-title h6 { font-size:14px; }

  #dm div.dmInner,
  #dm div.dmInner .dmRespCol,
  #dm .dmRespCol div.dmNewParagraph,
  #dm .ecwid .ec-store,
  #dm .dmform .dmforminput label,
  .dmPrettyList .listText,
  .dmPrettyList .itemName,
  #dm .dmRestaurantMenu .menuItemBox,
  .dmRestaurantMenu .menuItemName,
  .dmRestaurantMenu .menuItemDesc,
  .dmRestaurantMenu .menuItemPrice,
  .dmPhotoGallery .caption-text.caption-text,
  .dmGeoLocation a span.dmGeoMLocItemTitle,
  .dmGeoLocation a span.dmGeoMLocItemDetails,
  .map-popup-description { font-size:15px; }

  #dm div.dmNewParagraph p,
  #dm div.dmNewParagraph li { font-size:16px; }

  *#dm div.dmContent h1,
  *#dm div.dmFooter h1,
  *#dm div.p_hfcontainer h1,
  *#dm div.flex_hfcontainer h1,
  *#dm div.dm-title h1 { font-size:36px; }

  *#dm div.dmContent h2,
  *#dm div.dmFooter h2,
  *#dm div.p_hfcontainer h2,
  *#dm div.flex_hfcontainer h2,
  *#dm div.dm-title h2 { font-size:30px; }

  *#dm div.dmContent h3,
  *#dm div.dmFooter h3,
  *#dm div.p_hfcontainer h3,
  *#dm div.flex_hfcontainer h3,
  *#dm div.dm-title h3 { font-size:22px; }

  *#dm div.dmContent h4,
  *#dm div.dmFooter h4,
  *#dm div.p_hfcontainer h4,
  *#dm div.flex_hfcontainer h4,
  *#dm div.dm-title h4 { font-size:16px; }

  *#dm div.dmContent h5,
  *#dm div.dmFooter h5,
  *#dm div.p_hfcontainer h5,
  *#dm div.flex_hfcontainer h5,
  *#dm div.dm-title h5 { font-size:16px; }

  *#dm div.dmContent h6,
  *#dm div.dmFooter h6,
  *#dm div.p_hfcontainer h6,
  *#dm div.flex_hfcontainer h6,
  *#dm div.dm-title h6 {
    font-size:15px;
    line-height:1.5;
  }
}
